html{
    height: 100%;
}


body {
    background-color: #3a3a3a;
    background-image: url(images/Forest\ Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}
header {
    height: 150px;
    text-align: center;
    background-color: #3a3a3aad;
}
nav {
    background-color: rgba(255, 255, 255, 0.726);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}
main {
    height: 400px;
    text-align: center;
    padding-top: 80px;
    padding-left: 240px;
    padding-right: 240px;
    background-color: #3a3a3aad;
}
footer {
    background-color: #242323be;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
p {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
footer p{
    text-align: center;
    font-size: 12px;
}
.maps{
    padding-bottom: 100px;
}
